@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(rwd-l.css);
@import url(rwd-s.css);
@import url(rwd-grid.css);
@import url(bootstrap-de.css);
* {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: rgb(35, 0, 65)!important;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: rgba(38, 0, 64, 0);
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(143, 106, 212);
    border-radius: 10px;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    background-color: #7833a5;
}


#logo-container {
    display: inline-block;
    width: 94px;
    height: 40px;
    margin: 5px 10px 5px 30px;
    vertical-align: middle;
}

#search {
    display: inline-block;
    width: 60%;
}

#search_box {
    display: inline;
    height: 30px;
    width: 85%;
    box-sizing: border-box;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    background-color: #a177b4;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.90);
    vertical-align: middle;
}

#search_box::placeholder {
    color: rgba(255, 255, 255, 0.46);
    font-size: 14px;
}

#search_icon {
    display: inline;
    height: 30px;
    box-sizing: border-box;
    /*
    border: 0.5px #d8b3f0 solid;
    border-radius: 5px;
    background-color: #7833a5;
*/
    font-size: 15px;
    color: rgb(227, 227, 227);
}

a {
    text-decoration: none!important;
}

li > a {
    color: rgb(221, 221, 221);
}

.card {
    z-index: 0;
    background-color: #eee;
    border: 1px #fff solid;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
}


.title {
    background-color: #ddd;
    margin-bottom: 1%;
    display: block;
    padding: 4%;
    font-size: 18px;
    text-align: center;
}

.content {
    padding: 1% 4% 8% 4%;
    position: relative;
}

.article {
    padding: 2% 4% 5% 4%;
}

#error {
    width: 100vw;
    display: block;
    margin: auto;
    color: #EEE;
    text-align: center;
    font-size: 40px;
    height: 90vh;
    vertical-align: middle;
}

.comment {
    box-sizing: border-box;
    box-shadow: 0px 3px 2px #e3e3e3;
}

.comment_title {
    padding: 1% 4%;
    margin-bottom: 1%;
    display: block;
    position: relative;
}

.figure {
    padding: 4%;
}

.post_title {
    background-color: #ddd;
    margin-bottom: 1%;
    display: block;
    padding: 2% 4%;
    font-size: 18px;
    box-shadow: 0px 4px 2px #ccc;
}

.bar {
    box-shadow: 0px 3px 4px #ddd;
    padding: 1% 4%;
    display: block;
    height: 50px;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

footer {
    bottom: 0;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}

#cat_scroll,
#sch_scroll {
    margin: 0 auto;
    width: 100%;
    display: none;
    height: 300px;
    overflow-y: auto;
    border-radius: 2px;
    background-color: #320053;
}

#cat_scroll::-webkit-scrollbar,
#sch_scroll::-webkit-scrollbar {
    background-color: #260040;
    width: 6px;
}

#cat_scroll::-webkit-scrollbar-track,
#sch_scroll::-webkit-scrollbar-track {}

#cat_scroll::-webkit-scrollbar-thumb,
#sch_scroll::-webkit-scrollbar-thumb {
    background-color: rgb(143, 106, 212);
    height: 50%;
    border-radius: 10px;
}
